RewriteEngine on
RewriteRule ^banhang$ banhang.php
RewriteRule ^thongke$ index.php
RewriteRule ^kiemtradonhang$ confirm_payment.php
RewriteRule ^hoantatbanhang$ finish_sell.php
RewriteRule ^donhang$ donhangapi.php
RewriteRule ^hoso$ profile.php
RewriteRule ^api$ api_ghtk.php
RewriteRule ^donthanhcong$ donthanhcong.php
RewriteRule ^donthatbai$ donthatbai.php
RewriteRule ^xuatkho$ xuatkho.php
RewriteRule ^doisoat$ doisoat.php
RewriteRule ^dondanggiao$ donchuagiao.php
RewriteRule ^khohang$ khohang.php
